doctype html
html(ng-app='beerBook')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src='/javascripts/clientMain.js')
    script(src='/javascripts/user/usersCtrl.js')
    script(src='/javascripts/beer/beersCtrl.js')
    script(src='/javascripts/comment/commentsCtrl.js')
    script(src='/javascripts/authenticationService.js')
    script(src='/javascripts/common/navigation/navigation.directive.js')
    script(src='/javascripts/common/navigation/navigation.controller.js')
    script(src='/static/ng-file-upload.min.js')
  

  body

    navigation

    .container
      block content
