doctype html
html(ng-app='beerBook')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/home/home.controller.js')
    script(src='/javascripts/user/user.controller.js')
    script(src='/javascripts/beer/beer.controller.js')
    script(src='/javascripts/comment/comment.controller.js')
    script(src='/javascripts/common/services/authentication.service.js')
    script(src='/javascripts/common/services/data.service.js')
    script(src='/javascripts/common/navigation/navigation.directive.js')
    script(src='/javascripts/common/navigation/navigation.controller.js')
    script(src='/ng-file-upload/ng-file-upload.min.js')
    script(src='/angular-translate/angular-translate.js')
    script(src='/angular-translate-loader/angular-translate-loader-static-files.min.js')
    script(src='/angular-translate-url-loader/angular-translate-loader-url.min.js')
    script(src='/angular-slider/angular-simple-slider.min.js')
    script(src='https://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22feeds%22%2C%22version%22%3A%221.0%22%2C%22nocss%22%3Atrue%7D%5D%7D')
    script(src='http://siddii.github.io/angular-feeds/app/angular-feeds/angular-feeds.js')

  body

    .container
      block content
