doctype html
html(ng-app='GuitarShop')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src='/javascripts/clientMain.js')
    script(src='/javascripts/Controllers/usersCtrl.js')
    script(src='/javascripts/Controllers/authCtrl.js')
    script(src='/javascripts/authService.js')
  

  body

    .navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#/') BeerBook
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#/') Home
            if user
              li
                a(href='#/auth/logout/') Logout
            else
              li
                a(href='#/auth/login/') Login
              li
                a(href='#/user/register/') Signup

    .container
      block content
