
<navigation></navigation>

<h1>{{'USER_PROFILE.HEADLINE' | translate}}</h1>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label">{{'USER_ADD.USERNAME' | translate}}</label>
    <p class="form-control-static">{{ user.username }}</p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">{{'USER_ADD.PASSWORD' | translate}}</label>
    <textarea cclass="form-control-static" ng-model="user.password"></textarea>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">{{'USER_ADD.EMAIL' | translate}}</label>
    <textarea class="form-control-static" ng-model="user.email"></textarea>
  </div>
  <input class="btn btn-primary" type="button" value="{{'USER_ADD.SAVE_BUTTON' | translate}}" ng-click="save()"/>
</form>