
<nav class="navbar navbar-inverse">
  <div class="container-fuild">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">BeerBook</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a href="#/users">{{'NAVIGATION.USERS' | translate}}</a>
      </li>
      <li>
        <a href="#/beers">{{'NAVIGATION.BEERS' | translate}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li ng-hide="!vm.isLoggedIn">
        <a href="#/user/profile">{{vm.username}}</a>
      </li>
      <li ng-hide="!vm.isLoggedIn">
        <a ng-click="vm.logout()" href="#/beers">{{'NAVIGATION.LOGOUT' | translate}}</a>
      </li>
      <li ng-hide="vm.isLoggedIn">
        <a href="#/user/login/">{{'NAVIGATION.LOGIN' | translate}}</a>
      </li>
      <li ng-hide="vm.isLoggedIn">
        <a href="#/user/register/">{{'NAVIGATION.REGISTER' | translate}}</a>
      </li>
      <li ng-hide="vm.currentLangIsEn">
        <a ng-click="vm.setLang('en')">In English</a>
      </li>
      <li ng-hide="!vm.currentLangIsEn">
        <a ng-click="vm.setLang('fi')">In Finnish</a>
      </li>
    </ul>
  </div>
</nav>