h1 Add user
form
  .form-group
    label Username
    input.form-control(ng-model='user.username')
  .form-group
    label Password
    textarea.form-control(ng-model='user.password')
  .form-group
    label Email
    textarea.form-control(ng-model='user.email')
  .form-group
    label Role
    textarea.form-control(ng-model='user.role')
  input.btn.btn-primary(type='button', value='Save', ng-click='save()')
