h3 Users

ul(class='list-group')
  li(ng-repeat='user in users', class='list-group-item')
    a(href='/#/user/edit/{{user._id}}') {{user.username}}
    a(class='pull-right', href='/#/user/delete/{{user._id}}') Delete

a(href='/#/user/register') Add user

br
br
