

h1 Add beer
form(name='beerForm')
  .form-group
    label Name
    input.form-control(ng-model='beer.name')
  .form-group
    label Type
    textarea.form-control(ng-model='beer.type')
  .form-group
    label Description
    textarea.form-control(ng-model='beer.description')
  .form-group
    label Upload image
    button(type='file', ngf-select='uploadFiles($file, $invalidFiles)', accept='image/*', ngf-max-size='2MB') Select File

    div(style='font:smaller')
      | {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      span.progress(ng-show='f.progress >= 0')
        div(style='width:{{f.progress}}%', ng-bind="f.progress + '%'")
    |   {{errorMsg}}


  input.btn.btn-primary(type='button', value='Save', ng-click='save()')