h1(ng-bind='beer.name')

img(class='img-responsive', width='200', ng-src='{{beer.imagePath}}')

h10 Type: 
p(ng-bind='beer.type')

h10 Description:
p(ng-bind='beer.description')

a(href='#/beers') Back