h1 Add beer
form
  .form-group
    label Name
    input.form-control(ng-model='beer.beername')
  .form-group
    label Type
    textarea.form-control(ng-model='beer.beertype')
    input.btn.btn-primary(type='button', value='Save', ng-click='save()')