h1(ng-bind='beer.name')

div(class='col-sm-3')
  img(class='img-responsive', style='max-height:400px', ng-src='{{beer.imagePath}}')

div(class='col-sm-4')
  h4 Style: 
  p(ng-bind='beer.type')

  h4 Description:
  p(ng-bind='beer.description')

  a(href='#/beers') Back