
<h1>Add beer</h1>
<form class="form-horizontal" name="beerForm">
  <div class="form-group">
    <label class="control-label">Name</label>
    <input class="form-control" ng-model="beer.name" ng-required="true"/>
  </div>
  <div class="form-group">
    <label class="control-label">Type</label>
    <textarea class="form-control" ng-model="beer.type" ng-required="true"></textarea>
  </div>
  <div class="form-group">
    <label class="control-label">Description</label>
    <textarea class="form-control" ng-model="beer.description" ng-required="true"></textarea>
  </div>
  <div class="form-group">
    <label class="control-label">Upload image</label>
    <button type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-size="2MB">Select File</button>
    <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}<span class="progress" ng-show="f.progress &gt;= 0">
        <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div></span></div>  {{errorMsg}}
  </div>
  <input class="btn btn-primary" type="button" ng-disabled="beerForm.$invalid || f.name == null" value="Save" ng-click="save()"/>
</form>