
<navigation></navigation>

<div class="col-md-8">
  <div class="row">
    <h1 ng-bind="beer.name"></h1>
    <div class="col-md-4">
      <img class="img-responsive" ng-src="{{beer.imagePath}}" height="300"/>
    </div>
    <div class="col-md-7">
      <h4>{{'BEER_PAGE.STYLE' | translate}}</h4>
      <p ng-bind="beer.type"></p>
      <h4>{{'BEER_PAGE.DESCRIPTION_HEADLINE' | translate}}</h4>
      <p ng-bind="beer.description"></p>
    </div>
  </div>
</div>

<div class="col-md-4 pull-right">
  <h3>Recent reddit discussion</h3>
  <feed summary="true" count="5" url="https://www.reddit.com/r/beer/.rss"/>
</div>

<div class="col-md-8">

    <div>
      <h3>{{'BEER_PAGE.COMMENTS_HEADLINE' | translate}}</h3>
      <ul class="list-group" ng-controller="GetBeerCommentsCtrl">
        <li class="list-group-item" ng-repeat="comment in comments">
          <div>{{comment.content}}</div>
          <div><b>-{{comment.user}}</b></div>
          <div>Rating: {{comment.rating}}</div>
          <button ng-hide="!userIsAdmin" ng-click="delete(comment._id)">{{'BEERS.DELETE' | translate}}</button>
        </li>
      </ul>
    <div>
      <form class="form" name="commentForm" ng-controller="AddCommentCtrl" ng-hide="!isLoggedIn">
        <legend class="">{{'BEER_PAGE.COMMENT_FIELD_HEADLINE' | translate}}</legend>
        <div class="form-group">
          <textarea rows="4" cols="69" class="form-control non-resizeable" ng-model="comment.content" ng-required="true" placeholder="Comment"></textarea> 
        </div>
        <div class="form-group form-vertical form-inline">
          <!-- <label class="control-label">{{'BEER_PAGE.RATING_FIELD_HEADLINE' | translate}}</label> !-->
          <select class="form-control" ng-model="comment.rating" ng-options="star for star in stars" ng-required="true"></select>
          <input class="btn btn-primary" type="button" ng-disabled="commentForm.$invalid" value="{{'BEER_PAGE.POST_COMMENT_BUTTON' | translate}}" ng-click="save()"/>
        </div>
      </form>
    </div>
  </div>
</div>
