
<navigation></navigation>

<h1>{{'BEER_ADD.HEADLINE' | translate}}</h1>
<form class="form-horizontal" name="beerForm">
  <div class="form-group">
    <label class="control-label">{{'BEER_ADD.NAME_FIELD' | translate}}</label>
    <input class="form-control" ng-model="beer.name" ng-required="true"/>
  </div>
  <div class="form-group">
    <label class="control-label">{{'BEER_ADD.STYLE_FIELD' | translate}}</label>
    <textarea class="form-control" ng-model="beer.type" ng-required="true"></textarea>
  </div>
  <div class="form-group">
    <label class="control-label">{{'BEER_ADD.DESCRIPTION_FIELD' | translate}}</label>
    <textarea class="form-control" ng-model="beer.description" ng-required="true"></textarea>
  </div>
  <div class="form-group">
    <label class="control-label">{{'BEER_ADD.UPLOAD_IMAGE_HEADLINE' | translate}}</label>
    <button type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-size="2MB" ngf-min-width="612" ngf-min-heigth="300" ngf-resize="{width: 612, height: 600}" centerCrop="true">{{'BEER_ADD.SELECT_FILE_BUTTON' | translate}}</button>
    <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}<span class="progress" ng-show="f.progress &gt;= 0">
        <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div></span></div>  {{errorMsg}}
  </div>
  <input class="btn btn-primary" type="button" ng-disabled="beerForm.$invalid || f.name == null" value="{{'BEER_ADD.SAVE_BUTTON' | translate}}" ng-click="save()"/>
</form>